html {
  overflow-y: scroll;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.assMother {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 30px;
  background-color: #fafafa;
}

.header .headerMain {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  font-size: 12px;
  color: #6c6c6c;
  line-height: 30px;
}

.header .headerMain a:hover {
  cursor: pointer;
  color: orange;
}

.header .headerMain .areaLogo {
  width: 17px;
  height: 17px;
  margin-top: 7px;
  background-image: url(../images/header_icon.png);
  background-repeat: no-repeat;
  background-position: 0px -69px;
}

.header .headerMain .area {
  margin-left: 7px;
}

.header .headerMain .area b {
  color: #6a6a6a;
  margin-right: 1px;
}

.header .headerMain .area #citySwitch {
  display: none;
  width: 367px;
  height: 354px;
  background-color: #fff;
  font-size: 12px;
  z-index: 100;
  position: absolute;
  border: 1px solid #ccc;
}

.header .headerMain .area #citySwitch p {
  color: #999999;
}

.header .headerMain .area #citySwitch dl {
  display: flex;
}

.header .headerMain .area #citySwitch dl dt {
  color: #999999;
  width: 50px;
}

.header .headerMain .area #citySwitch dl dd a {
  color: #333;
  display: inline-block;
  margin: 0 7px 0 0;
}

.header .headerMain .login {
  margin-left: 15px;
}

.header .headerMain .regist {
  margin-left: 8px;
}

.header .headerMain .lv_link {
  margin-left: 400px;
  display: flex;
}

.header .headerMain .lv_link a {
  margin-left: 10px;
}

.header .headerMain .lv_link .pictures {
  display: flex;
}

.header .headerMain .lv_link .pictures div {
  width: 20px;
  height: 17px;
  background-image: url(../images/header_icon.png);
  flex: 1;
  margin-left: 6px;
  margin-top: 5px;
}

.header .headerMain .lv_link .pictures .p1 {
  background-position: -16px -89px;
  position: relative;
}

.header .headerMain .lv_link .pictures .p1::before {
  content: ' ';
  background-color: #dad5d5;
  display: inline-block;
  width: 1px;
  height: 16px;
  margin-left: -2px;
  margin-bottom: 3px;
}

.header .headerMain .lv_link .pictures .p1 .weChat {
  display: none;
  z-index: 99;
  width: 200px;
  height: 96px;
  background-image: url(../images/wechat.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 0px;
  position: absolute;
  top: 23px;
  left: -3px;
}

.header .headerMain .lv_link .pictures .p2 {
  background-position: 223px 93px;
  position: relative;
}

.header .headerMain .lv_link .pictures .p2 .href {
  z-index: 99;
  display: none;
  width: 90px;
  height: 81px;
  background-image: url(../images/header_icon.png);
  background-position: -97px -54px;
  position: absolute;
  top: 24px;
  left: -6px;
}

.header .headerMain .lv_link .pictures .p3 {
  background-position: -16px -109px;
}

.header .headerMain .lv_link .pictures .p4 {
  background-position: 1px -129px;
}

.header .headerMain .lv_link .pictures a {
  margin-left: 0;
}

.header .headerMain .lv_link .pictures a::after {
  content: ' ';
  background-color: #d3cccc;
  display: inline-block;
  width: 1px;
  height: 16px;
  margin-left: 8px;
  margin-bottom: -3px;
}

.header .headerMain .lv_link .teleNum {
  display: flex;
  position: relative;
}

.header .headerMain .lv_link .teleNum .imgPhone {
  width: 17px;
  height: 17px;
  background-image: url(../images/header_icon.png);
  background-position: 1px -149px;
  margin-top: 6px;
  margin-left: 6px;
}

.header .headerMain .lv_link .teleNum::after {
  content: ' ';
  background-color: #d3cccc;
  display: inline-block;
  width: 1px;
  height: 16px;
  margin-left: 8px;
  margin-top: 7px;
}

.header .headerMain .lv_link .teleNum .allNum {
  display: none;
  position: absolute;
  top: 27px;
  left: -12px;
  width: 234px;
  margin-left: -60px;
}

.header .headerMain .lv_link .teleNum .allNum .icon {
  margin-left: 58px;
  width: 180px;
  height: 49px;
  background-image: url(../images/header_icon.png);
  background-position: -299px 0px;
}

.header .headerMain .lv_link .teleNum .allNum .numAbroad {
  margin-top: -33px;
  background-color: white;
}

.header .headerMain .lv_link .teleNum .allNum .numAbroad p {
  font-size: 12px;
  color: #6a6a6a;
  margin-top: -7px;
}

.header .headerMain .lv_link .teleNum .allNum .numAbroad p a {
  font-size: 18px;
  color: #ff1268;
}

.header .headerMain .lv_link .mylvMother .lvList {
  visibility: hidden;
  width: 83px;
  font-size: 12px;
  color: #6a6a6a;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.header .headerMain .lv_link .oppCenter .centerList {
  visibility: hidden;
  width: 83px;
  font-size: 12px;
  color: #6a6a6a;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.search {
  width: 100%;
  height: 80px;
}

.search .searchMain {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  display: flex;
}

.search .searchMain .assLogo {
  width: 175px;
  height: 57px;
  background-image: url(../images/LOGO.png);
  margin-top: 5px;
  background-repeat: no-repeat;
  background-size: contain;
}

.search .searchMain .placeStart {
  width: 131px;
  height: 42px;
  background-color: #fff7ec;
  border: 4px solid #ff9900;
  line-height: 35px;
  position: relative;
  margin-left: 58px;
  margin-top: 21px;
}

.search .searchMain .placeStart b {
  margin-left: 10px;
  font-size: 16px;
  color: #444444;
  font-weight: 100;
}

.search .searchMain .placeStart span {
  font-size: 12px;
  color: #bbbbbb;
}

.search .searchMain .placeStart .icon_arrow {
  width: 13px;
  height: 10px;
  position: absolute;
  top: 14px;
  right: 3px;
  background-image: url(../images/search-home@2x.png);
  background-position: -80px -40px;
}

.search .searchMain .searchBar {
  width: 530px;
  height: 42px;
  border: 3px solid #ff9900;
  display: flex;
  margin-top: 21px;
  margin-left: 7px;
  line-height: 35px;
}

.search .searchMain .searchBar .allTours {
  position: relative;
}

.search .searchMain .searchBar .allTours p {
  width: 100px;
  background-color: #fff7ec;
  color: #ff8800;
  font-size: 14px;
  border-right: 1px solid #ff9900;
  padding-left: 7px;
}

.search .searchMain .searchBar .allTours .icon_arrow {
  width: 13px;
  height: 9px;
  background-image: url(../images/search-home@2x.png);
  background-position: -20px -20px;
  position: absolute;
  top: 15px;
  right: 10px;
}

.search .searchMain .searchBar .input {
  width: 310px;
}

.search .searchMain .searchBar .input input {
  outline: none;
  border: #ffffff;
  width: 300px;
  margin-left: 14px;
}

.search .searchMain .searchBar .searchBtn {
  width: 100px;
  height: 38px;
  background-color: #ff9900;
  margin-left: 14px;
  text-align: center;
}

.search .searchMain .searchBar .searchBtn span {
  color: white;
  font-size: 16px;
  margin-left: 7px;
}

.search .searchMain .alltours_Hidden {
  position: absolute;
  width: 107px;
}

.nav {
  width: 100%;
  height: 50px;
  background-color: #ee3388;
  position: relative;
}

.nav .navMain {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.nav .navMain ul {
  display: flex;
  margin-right: 277px;
  line-height: 50px;
}

.nav .navMain ul li {
  flex: 1;
  text-align: center;
  line-height: 50px;
}

.nav .navMain ul li a {
  font-size: 16px;
  color: #ffffff;
}

.nav .navMain ul li:hover {
  cursor: pointer;
  background-color: #e25896;
}

.nav .navMain ul li:nth-child(3) {
  position: relative;
}

.nav .navMain ul li:nth-child(3) span {
  display: inline-block;
  width: 32px;
  height: 18px;
  background-color: #ff8800;
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  top: -11px;
  left: 17px;
  line-height: 16px;
}

.nav .navMain ul li:nth-child(11) {
  position: relative;
}

.nav .navMain ul li:nth-child(11) .triangle1 {
  width: 13px;
  height: 8px;
  background-image: url(../images/search-home@2x.png);
  background-position: -21px -119px;
  position: absolute;
  top: 22px;
  right: -3px;
}

.nav .navMain ul li:nth-child(12) {
  position: relative;
}

.nav .navMain ul li:nth-child(12) .triangle2 {
  width: 13px;
  height: 8px;
  background-image: url(../images/search-home@2x.png);
  background-position: -21px -119px;
  position: absolute;
  top: 22px;
  right: -12px;
}

.nav .outboundTrip {
  display: none;
  width: 100%;
  height: 43px;
  background-color: #ffffff;
  border: 1px solid #ccc7c7;
  position: absolute;
  top: 50px;
  text-align: center;
  line-height: 43px;
  z-index: 100;
}

.nav .outboundTrip p {
  margin-left: 295px;
}

.nav .outboundTrip p a {
  color: #6a6a6a;
  font-size: 14px;
  margin-left: 10px;
}

.nav .outboundTrip p a:hover {
  color: #ff1268;
  cursor: pointer;
}

.nav .strategy {
  display: none;
  width: 100%;
  height: 43px;
  background-color: #ffffff;
  border: 1px solid #ccc7c7;
  position: absolute;
  top: 50px;
  text-align: center;
  line-height: 43px;
  z-index: 100;
}

.nav .strategy p {
  margin-left: 427px;
}

.nav .strategy p a {
  color: #6a6a6a;
  font-size: 14px;
  margin-left: 10px;
}

.nav .strategy p a:hover {
  color: #ff1268;
  cursor: pointer;
}

.banner {
  width: 100%;
}

.banner .bannerMain {
  width: 1920px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

.banner .bannerMain .picture {
  width: 1920px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 2s linear;
}

.banner .bannerMain .active {
  opacity: 1;
}

.banner .bannerMain .circle {
  position: absolute;
  bottom: 39px;
  right: 177px;
}

.banner .bannerMain .circle ul {
  display: flex;
}

.banner .bannerMain .circle ul li {
  width: 20px;
  height: 20px;
  background-color: #d4cbcb;
  border-radius: 50%;
  margin-left: 10px;
}

.banner .bannerMain .circle ul li:hover {
  cursor: pointer;
}

.banner .bannerMain .circle ul .Light {
  background-color: #ff1268;
}

.banner .bannerMain .lv-drag {
  width: 585px;
  height: 360px;
  background-color: #ffffff;
  position: absolute;
  top: 20px;
  left: 353px;
  position: relative;
}

.banner .bannerMain .lv-drag .verticalList {
  position: absolute;
  top: 0;
  left: 0;
}

.banner .bannerMain .lv-drag .verticalList li {
  width: 80px;
  height: 45px;
  font-size: 14px;
  color: #fff;
  background: rgba(66, 64, 64, 0.7);
  text-align: center;
  line-height: 45px;
  border-bottom: 1px solid #645f5f;
}

.banner .bannerMain .lv-drag .verticalList li:hover {
  background-color: #8a8484;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .verticalList .selected {
  background-color: #fff;
  color: #ef3388;
  border-left: 3px solid #ef3388;
  font-weight: 800;
}

.banner .bannerMain .lv-drag .verticalList .selected:hover {
  background-color: #fff;
}

.banner .bannerMain .lv-drag .contentRight {
  position: absolute;
  top: 0;
  right: 0;
  width: 505px;
  height: 100%;
}

.banner .bannerMain .lv-drag .contentRight .contentMain {
  width: 461px;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  left: 21px;
  display: flex;
  flex-direction: column;
}

.banner .bannerMain .lv-drag .contentRight .sub1 .tabList {
  z-index: 99;
}

.banner .bannerMain .lv-drag .contentRight .sub1 .tabList ul {
  display: flex;
}

.banner .bannerMain .lv-drag .contentRight .sub1 .tabList ul li {
  color: #333333;
  font-size: 16px;
  margin-left: 10px;
  text-align: center;
  margin-top: 12px;
}

.banner .bannerMain .lv-drag .contentRight .sub1 .tabList ul li:nth-child(2) {
  margin-left: 30px;
}

.banner .bannerMain .lv-drag .contentRight .sub1 .tabList ul li:hover {
  color: #ee3388;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .contentRight .sub1 .tabList ul .pitch {
  color: #ee3388;
}

.banner .bannerMain .lv-drag .contentRight .sub1 .tabList ul .pitch::after {
  content: ' ';
  width: 87px;
  height: 5px;
  display: inline-block;
  background: #ee3388;
  margin-left: -73px;
  margin-bottom: -16px;
}

.banner .bannerMain .lv-drag .contentRight .sub1 .underLine {
  width: 100%;
  height: 2px;
  background-color: #dfd1d1;
  margin-top: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub1 input {
  height: 32px;
  margin-top: 15px;
  z-index: 3;
  border: 1px solid #ccc;
  outline: none;
}

.banner .bannerMain .lv-drag .contentRight .sub1 .searchBtn {
  width: 87px;
  height: 36px;
  background-color: #ee3388;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
  border-radius: 3px;
  margin-top: 16px;
  margin-left: 376px;
}

.banner .bannerMain .lv-drag .contentRight .sub1 .searchBtn:hover {
  background-color: #e25896;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .contentRight .sub1 .underLine2 {
  width: 100%;
  height: 1px;
  background-color: #f5f0f0;
  margin-top: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub1 dl {
  margin-top: 25px;
  display: flex;
}

.banner .bannerMain .lv-drag .contentRight .sub1 dl dt {
  margin-top: 4px;
  font-size: 12px;
  color: #333333;
}

.banner .bannerMain .lv-drag .contentRight .sub1 dl dd {
  margin-left: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub1 dl dd span {
  color: #666666;
  font-size: 12px;
}

.banner .bannerMain .lv-drag .contentRight .sub1 dl dd a {
  color: #666666;
  font-size: 12px;
  margin-left: 5px;
}

.banner .bannerMain .lv-drag .contentRight .sub1 dl dd a:hover {
  color: #ff8800;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .contentRight .sub2 {
  visibility: hidden;
}

.banner .bannerMain .lv-drag .contentRight .sub2 .place {
  width: 100%;
  height: 121px;
  display: flex;
  margin-top: 30px;
}

.banner .bannerMain .lv-drag .contentRight .sub2 .place .startPlace label {
  font-size: 14px;
}

.banner .bannerMain .lv-drag .contentRight .sub2 .place .startPlace .lv_dragCity {
  margin-top: 5px;
  width: 98px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #ccc;
  font-size: 15px;
  position: relative;
  padding-left: 5px;
}

.banner .bannerMain .lv-drag .contentRight .sub2 .place .startPlace .lv_dragCity p {
  width: 14px;
  height: 10px;
  position: absolute;
  top: 14px;
  right: 10px;
  background-image: url(../images/search-home@2x.png);
  background-position: -17px 0px;
}

.banner .bannerMain .lv-drag .contentRight .sub2 .place .destination {
  margin-left: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub2 .place .destination label {
  font-size: 14px;
}

.banner .bannerMain .lv-drag .contentRight .sub2 .place .destination input {
  padding-left: 5px;
  margin-top: 5px;
  width: 332px;
  height: 36px;
  outline: none;
  border: 1px solid #ccc;
}

.banner .bannerMain .lv-drag .contentRight .sub2 .searchBtn {
  width: 87px;
  height: 36px;
  background-color: #ee3388;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
  border-radius: 3px;
  margin-top: -36px;
  margin-left: 376px;
}

.banner .bannerMain .lv-drag .contentRight .sub2 .searchBtn:hover {
  background-color: #e25896;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .contentRight .sub2 .underLine {
  width: 100%;
  height: 2px;
  background-color: #f1eeee;
  margin-top: 18px;
}

.banner .bannerMain .lv-drag .contentRight .sub2 .sub2_footer {
  margin-top: 18px;
}

.banner .bannerMain .lv-drag .contentRight .sub2 .sub2_footer dl {
  font-size: 12px;
  display: flex;
}

.banner .bannerMain .lv-drag .contentRight .sub2 .sub2_footer dl dt {
  font-weight: bolder;
  width: 62px;
  height: 22px;
  color: #333333;
}

.banner .bannerMain .lv-drag .contentRight .sub2 .sub2_footer dl dd {
  color: #666666;
}

.banner .bannerMain .lv-drag .contentRight .sub2 .sub2_footer dl dd span {
  margin-left: 5px;
}

.banner .bannerMain .lv-drag .contentRight .sub2 .sub2_footer dl dd a {
  margin-left: 5px;
}

.banner .bannerMain .lv-drag .contentRight .sub2 .sub2_footer dl dd a:hover {
  color: #ff8800;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .contentRight .sub3 {
  visibility: hidden;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .tabList {
  z-index: 99;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .tabList ul {
  display: flex;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .tabList ul li {
  color: #333333;
  font-size: 16px;
  margin-left: 10px;
  text-align: center;
  margin-top: 12px;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .tabList ul li:nth-child(2) {
  margin-left: 40px;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .tabList ul li:nth-child(3) {
  margin-left: 50px;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .tabList ul li:hover {
  color: #ee3388;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .tabList ul .hot_img {
  width: 23px;
  height: 16px;
  background-color: #ff8800;
  text-align: center;
  line-height: 16px;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 15px;
  right: 101px;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .tabList ul .pitch {
  color: #ee3388;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .tabList ul .pitch::after {
  content: ' ';
  width: 87px;
  height: 5px;
  display: inline-block;
  background: #ee3388;
  margin-left: -73px;
  margin-bottom: -16px;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .underLine {
  width: 100%;
  height: 2px;
  background-color: #dfd1d1;
  margin-top: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub3 input {
  height: 32px;
  margin-top: 15px;
  z-index: 3;
  border: 1px solid #ccc;
  outline: none;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .searchBtn {
  width: 87px;
  height: 36px;
  background-color: #ee3388;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
  border-radius: 3px;
  margin-top: 16px;
  margin-left: 376px;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .searchBtn:hover {
  background-color: #e25896;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .underLine2 {
  width: 100%;
  height: 1px;
  background-color: #f5f0f0;
  margin-top: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .sub3_footer {
  width: 100%;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .sub3_footer dl {
  margin-top: 25px;
  display: flex;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .sub3_footer dl dt {
  width: 101px;
  height: 22px;
  margin-top: 4px;
  font-size: 12px;
  color: #333333;
  font-weight: bolder;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .sub3_footer dl dd {
  margin-left: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .sub3_footer dl dd span {
  color: #666666;
  font-size: 12px;
  margin-left: 5px;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .sub3_footer dl dd a {
  color: #666666;
  font-size: 12px;
  margin-left: 5px;
}

.banner .bannerMain .lv-drag .contentRight .sub3 .sub3_footer dl dd a:hover {
  color: #ff8800;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .contentRight .sub4 {
  visibility: hidden;
}

.banner .bannerMain .lv-drag .contentRight .sub4 input {
  height: 32px;
  margin-top: 15px;
  z-index: 3;
  border: 1px solid #ccc;
  outline: none;
}

.banner .bannerMain .lv-drag .contentRight .sub4 .searchBtn {
  width: 87px;
  height: 36px;
  background-color: #ee3388;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
  border-radius: 3px;
  margin-top: 16px;
  margin-left: 376px;
}

.banner .bannerMain .lv-drag .contentRight .sub4 .searchBtn:hover {
  background-color: #e25896;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .contentRight .sub4 .underLine2 {
  width: 100%;
  height: 1px;
  background-color: #f5f0f0;
  margin-top: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub4 .sub4_footer {
  width: 100%;
}

.banner .bannerMain .lv-drag .contentRight .sub4 .sub4_footer dl {
  margin-top: 25px;
  display: flex;
}

.banner .bannerMain .lv-drag .contentRight .sub4 .sub4_footer dl dt {
  width: 48px;
  height: 22px;
  margin-top: 4px;
  font-size: 12px;
  color: #333333;
  font-weight: bolder;
}

.banner .bannerMain .lv-drag .contentRight .sub4 .sub4_footer dl dd {
  margin-left: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub4 .sub4_footer dl dd span {
  color: #666666;
  font-size: 12px;
  margin-left: 5px;
}

.banner .bannerMain .lv-drag .contentRight .sub4 .sub4_footer dl dd a {
  color: #666666;
  font-size: 12px;
  margin-left: 5px;
}

.banner .bannerMain .lv-drag .contentRight .sub4 .sub4_footer dl dd a:hover {
  color: #ff8800;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .contentRight .sub5 {
  visibility: hidden;
}

.banner .bannerMain .lv-drag .contentRight .sub5 .tabList {
  z-index: 99;
}

.banner .bannerMain .lv-drag .contentRight .sub5 .tabList ul {
  display: flex;
}

.banner .bannerMain .lv-drag .contentRight .sub5 .tabList ul li {
  color: #333333;
  font-size: 16px;
  margin-left: 10px;
  text-align: center;
  margin-top: 12px;
}

.banner .bannerMain .lv-drag .contentRight .sub5 .tabList ul li:nth-child(2) {
  margin-left: 30px;
}

.banner .bannerMain .lv-drag .contentRight .sub5 .tabList ul li:hover {
  color: #ee3388;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .contentRight .sub5 .tabList ul .pitch {
  color: #ee3388;
}

.banner .bannerMain .lv-drag .contentRight .sub5 .tabList ul .pitch::after {
  content: ' ';
  width: 87px;
  height: 5px;
  display: inline-block;
  background: #ee3388;
  margin-left: -73px;
  margin-bottom: -16px;
}

.banner .bannerMain .lv-drag .contentRight .sub5 .underLine {
  width: 100%;
  height: 2px;
  background-color: #dfd1d1;
  margin-top: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub5 input {
  height: 32px;
  margin-top: 15px;
  z-index: 3;
  border: 1px solid #ccc;
  outline: none;
}

.banner .bannerMain .lv-drag .contentRight .sub5 .searchBtn {
  width: 87px;
  height: 36px;
  background-color: #ee3388;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
  border-radius: 3px;
  margin-top: 16px;
  margin-left: 376px;
}

.banner .bannerMain .lv-drag .contentRight .sub5 .searchBtn:hover {
  background-color: #e25896;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .contentRight .sub5 .underLine2 {
  width: 100%;
  height: 1px;
  background-color: #f5f0f0;
  margin-top: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub5 dl {
  margin-top: 25px;
  display: flex;
}

.banner .bannerMain .lv-drag .contentRight .sub5 dl dt {
  margin-top: 4px;
  font-size: 12px;
  color: #333333;
}

.banner .bannerMain .lv-drag .contentRight .sub5 dl dd {
  margin-left: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub5 dl dd span {
  color: #666666;
  font-size: 12px;
}

.banner .bannerMain .lv-drag .contentRight .sub5 dl dd a {
  color: #666666;
  font-size: 12px;
  margin-left: 5px;
}

.banner .bannerMain .lv-drag .contentRight .sub5 dl dd a:hover {
  color: #ff8800;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .contentRight .sub6 {
  visibility: hidden;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .tabList {
  z-index: 99;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .tabList ul {
  display: flex;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .tabList ul li {
  color: #333333;
  font-size: 16px;
  margin-left: 10px;
  text-align: center;
  margin-top: 12px;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .tabList ul li:nth-child(2) {
  margin-left: 40px;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .tabList ul li:nth-child(3) {
  margin-left: 50px;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .tabList ul li:hover {
  color: #ee3388;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .tabList ul .hot_img {
  width: 23px;
  height: 16px;
  background-color: #ff8800;
  text-align: center;
  line-height: 16px;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 15px;
  right: 101px;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .tabList ul .pitch {
  color: #ee3388;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .tabList ul .pitch::after {
  content: ' ';
  width: 87px;
  height: 5px;
  display: inline-block;
  background: #ee3388;
  margin-left: -73px;
  margin-bottom: -16px;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .underLine {
  width: 100%;
  height: 2px;
  background-color: #dfd1d1;
  margin-top: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .radio {
  margin-top: 20px;
  margin-left: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .radio input {
  width: 14px;
  height: 14px;
  color: #b40c44;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .radio label {
  font-size: 14px;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .location {
  position: relative;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .location input {
  width: 200px;
  height: 36px;
  margin-top: 10px;
  outline: none;
  margin-left: 10px;
  color: #b40c44;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .location #data {
  color: #7c797a;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .location .sta {
  position: absolute;
  top: 18px;
  left: 34px;
  font-size: 14px;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .location .end {
  position: absolute;
  top: 63px;
  left: 34px;
  font-size: 14px;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .searchBtn {
  width: 87px;
  height: 36px;
  background-color: #ee3388;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
  border-radius: 3px;
  margin-top: 16px;
  margin-left: 376px;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .searchBtn:hover {
  background-color: #e25896;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .underLine2 {
  width: 100%;
  height: 1px;
  background-color: #f5f0f0;
  margin-top: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .sub3_footer {
  width: 100%;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .sub3_footer dl {
  margin-top: 25px;
  display: flex;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .sub3_footer dl dt {
  width: 101px;
  height: 22px;
  margin-top: 4px;
  font-size: 12px;
  color: #333333;
  font-weight: bolder;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .sub3_footer dl dd {
  margin-left: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .sub3_footer dl dd span {
  color: #666666;
  font-size: 12px;
  margin-left: 5px;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .sub3_footer dl dd a {
  color: #666666;
  font-size: 12px;
  margin-left: 5px;
}

.banner .bannerMain .lv-drag .contentRight .sub6 .sub3_footer dl dd a:hover {
  color: #ff8800;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .contentRight .sub7 {
  visibility: hidden;
}

.banner .bannerMain .lv-drag .contentRight .sub7 .tabList {
  z-index: 99;
}

.banner .bannerMain .lv-drag .contentRight .sub7 .tabList ul {
  display: flex;
}

.banner .bannerMain .lv-drag .contentRight .sub7 .tabList ul li {
  color: #333333;
  font-size: 16px;
  margin-left: 10px;
  text-align: center;
  margin-top: 12px;
}

.banner .bannerMain .lv-drag .contentRight .sub7 .tabList ul .pitch {
  color: #ee3388;
}

.banner .bannerMain .lv-drag .contentRight .sub7 .tabList ul .pitch::after {
  content: ' ';
  width: 87px;
  height: 5px;
  display: inline-block;
  background: #ee3388;
  margin-left: -73px;
  margin-bottom: -16px;
}

.banner .bannerMain .lv-drag .contentRight .sub7 .underLine {
  width: 100%;
  height: 2px;
  background-color: #dfd1d1;
  margin-top: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub7 .location {
  position: relative;
}

.banner .bannerMain .lv-drag .contentRight .sub7 .location input {
  width: 200px;
  height: 36px;
  margin-top: 10px;
  outline: none;
  margin-left: 10px;
  color: #b40c44;
}

.banner .bannerMain .lv-drag .contentRight .sub7 .location #data {
  color: #7c797a;
}

.banner .bannerMain .lv-drag .contentRight .sub7 .location .sta {
  position: absolute;
  top: 18px;
  left: 59px;
  font-size: 14px;
}

.banner .bannerMain .lv-drag .contentRight .sub7 .location .check {
  width: 14px;
  height: 14px;
}

.banner .bannerMain .lv-drag .contentRight .sub7 .location label {
  margin-left: 3px;
  font-size: 12px;
}

.banner .bannerMain .lv-drag .contentRight .sub7 .searchBtn {
  width: 87px;
  height: 36px;
  background-color: #ee3388;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
  border-radius: 3px;
  margin-top: 16px;
  margin-left: 376px;
}

.banner .bannerMain .lv-drag .contentRight .sub7 .searchBtn:hover {
  background-color: #e25896;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .contentRight .sub7 .underLine2 {
  width: 100%;
  height: 1px;
  background-color: #f5f0f0;
  margin-top: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub8 {
  visibility: hidden;
}

.banner .bannerMain .lv-drag .contentRight .sub8 .tabList {
  z-index: 99;
}

.banner .bannerMain .lv-drag .contentRight .sub8 .tabList ul {
  display: flex;
}

.banner .bannerMain .lv-drag .contentRight .sub8 .tabList ul li {
  color: #333333;
  font-size: 16px;
  margin-left: 11px;
  text-align: center;
  margin-top: 12px;
}

.banner .bannerMain .lv-drag .contentRight .sub8 .tabList ul .pitch {
  color: #ee3388;
}

.banner .bannerMain .lv-drag .contentRight .sub8 .tabList ul .pitch::after {
  content: ' ';
  width: 87px;
  height: 5px;
  display: inline-block;
  background: #ee3388;
  margin-left: -44px;
  margin-bottom: -16px;
}

.banner .bannerMain .lv-drag .contentRight .sub8 .underLine {
  width: 100%;
  height: 2px;
  background-color: #dfd1d1;
  margin-top: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub8 input {
  height: 32px;
  margin-top: 15px;
  z-index: 3;
  border: 1px solid #ccc;
  outline: none;
}

.banner .bannerMain .lv-drag .contentRight .sub8 .searchBtn {
  width: 87px;
  height: 36px;
  background-color: #ee3388;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
  border-radius: 3px;
  margin-top: 16px;
  margin-left: 376px;
}

.banner .bannerMain .lv-drag .contentRight .sub8 .searchBtn:hover {
  background-color: #e25896;
  cursor: pointer;
}

.banner .bannerMain .lv-drag .contentRight .sub8 .underLine2 {
  width: 100%;
  height: 1px;
  background-color: #f5f0f0;
  margin-top: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub8 dl {
  margin-top: 25px;
  display: flex;
}

.banner .bannerMain .lv-drag .contentRight .sub8 dl dt {
  margin-top: 4px;
  font-size: 12px;
  color: #333333;
}

.banner .bannerMain .lv-drag .contentRight .sub8 dl dd {
  margin-left: 10px;
}

.banner .bannerMain .lv-drag .contentRight .sub8 dl dd span {
  color: #666666;
  font-size: 12px;
}

.banner .bannerMain .lv-drag .contentRight .sub8 dl dd a {
  color: #666666;
  font-size: 12px;
  margin-left: 5px;
}

.banner .bannerMain .lv-drag .contentRight .sub8 dl dd a:hover {
  color: #ff8800;
  cursor: pointer;
}

.listNav {
  height: 640px;
}

.listNav .listNav_Main {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
}

.listNav .listNav_Main .listNav_head {
  width: 100%;
}

.listNav .listNav_Main .listNav_head ul {
  display: flex;
}

.listNav .listNav_Main .listNav_head ul li {
  margin-left: 10px;
  color: #666666;
  font-size: 20px;
  width: 86px;
  height: 42px;
}

.listNav .listNav_Main .listNav_head ul li:hover {
  color: #ed3387;
  cursor: pointer;
}

.listNav .listNav_Main .listNav_head ul li:first-child {
  margin-left: 0;
}

.listNav .listNav_Main .listNav_head ul .active::after {
  content: ' ';
  display: inline-block;
  width: 86px;
  height: 2px;
  background-color: #ed3387;
  margin-left: -2px;
  margin-bottom: 13px;
}

.listNav .listNav_Main .underLine {
  width: 100%;
  height: 2px;
  background-color: #d6d2d2;
  margin-top: -10px;
}

.listNav .listNav_Main .listNav_body_hot {
  position: absolute;
  top: 31px;
  left: 0;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

.listNav .listNav_Main .listNav_body_hot .part {
  width: 222px;
  height: 267px;
  margin-left: 21px;
  margin-top: 20px;
  border: 1px solid #ccc;
}

.listNav .listNav_Main .listNav_body_hot .part:first-child {
  margin-left: 0;
}

.listNav .listNav_Main .listNav_body_hot .part:nth-child(6) {
  margin-left: 0;
}

.listNav .listNav_Main .listNav_body_hot .part dl {
  border: 1px solid #ccc;
}

.listNav .listNav_Main .listNav_body_hot .part dl dt img {
  width: 220px;
  height: 150px;
}

.listNav .listNav_Main .listNav_body_hot .part dl dd {
  width: 220px;
  height: 36px;
  font-size: 14px;
  color: #333333;
  margin: 7px 0;
  padding: 0 10px;
}

.listNav .listNav_Main .listNav_body_hot .part dl dd span {
  color: #339900;
}

.listNav .listNav_Main .listNav_body_hot .part dl dd a:hover {
  color: #ff6600;
  cursor: pointer;
}

.listNav .listNav_Main .listNav_body_hot .part .price p {
  width: 98px;
  height: 22px;
  font-size: 20px;
  color: #ff6600;
  margin-left: 5px;
  margin-top: 5px;
  font-weight: bolder;
}

.listNav .listNav_Main .listNav_body_hot .part .price p:hover {
  cursor: pointer;
}

.listNav .listNav_Main .listNav_body_hot .part .price p span {
  margin-left: 8px;
  color: #999999;
  font-size: 12px;
}

.listNav .listNav_Main .listNav_body_hot .part .price button {
  width: 73px;
  height: 28px;
  margin-top: -4px;
  margin-left: 135px;
  font-size: 14px;
  background-color: #ff8800;
  border: 1px solid #ff8800;
  text-align: center;
  line-height: 28px;
  color: #fff;
}

.listNav .listNav_Main .listNav_body_hot .part .price button:hover {
  cursor: pointer;
}

.listNav .listNav_Main .listNav_body_partent {
  visibility: hidden;
  position: absolute;
  top: 31px;
  left: 0;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

.listNav .listNav_Main .listNav_body_partent .part {
  width: 222px;
  height: 267px;
  margin-left: 21px;
  margin-top: 20px;
  border: 1px solid #ccc;
}

.listNav .listNav_Main .listNav_body_partent .part:first-child {
  margin-left: 0;
}

.listNav .listNav_Main .listNav_body_partent .part dl {
  border: 1px solid #ccc;
}

.listNav .listNav_Main .listNav_body_partent .part dl dt img {
  width: 220px;
  height: 150px;
}

.listNav .listNav_Main .listNav_body_partent .part dl dd {
  width: 220px;
  height: 36px;
  font-size: 14px;
  color: #333333;
  margin: 7px 0;
  padding: 0 10px;
}

.listNav .listNav_Main .listNav_body_partent .part dl dd span {
  color: #339900;
}

.listNav .listNav_Main .listNav_body_partent .part dl dd a:hover {
  color: #ff6600;
  cursor: pointer;
}

.listNav .listNav_Main .listNav_body_partent .part .price p {
  width: 98px;
  height: 22px;
  font-size: 20px;
  color: #ff6600;
  margin-left: 5px;
  margin-top: 5px;
  font-weight: bolder;
}

.listNav .listNav_Main .listNav_body_partent .part .price p:hover {
  cursor: pointer;
}

.listNav .listNav_Main .listNav_body_partent .part .price p span {
  margin-left: 8px;
  color: #999999;
  font-size: 12px;
}

.listNav .listNav_Main .listNav_body_partent .part .price button {
  width: 73px;
  height: 28px;
  margin-top: -4px;
  margin-left: 135px;
  font-size: 14px;
  background-color: #ff8800;
  border: 1px solid #ff8800;
  text-align: center;
  line-height: 28px;
  color: #fff;
}

.listNav .listNav_Main .listNav_body_partent .part .price button:hover {
  cursor: pointer;
}

.listNav .listNav_Main .listNav_body_hotel {
  visibility: hidden;
  position: absolute;
  top: 31px;
  left: 0;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

.listNav .listNav_Main .listNav_body_hotel .part {
  width: 222px;
  height: 267px;
  margin-left: 21px;
  margin-top: 20px;
  border: 1px solid #ccc;
}

.listNav .listNav_Main .listNav_body_hotel .part:first-child {
  margin-left: 0;
}

.listNav .listNav_Main .listNav_body_hotel .part dl {
  border: 1px solid #ccc;
}

.listNav .listNav_Main .listNav_body_hotel .part dl dt img {
  width: 220px;
  height: 150px;
}

.listNav .listNav_Main .listNav_body_hotel .part dl dd {
  width: 220px;
  height: 36px;
  font-size: 14px;
  color: #333333;
  margin: 7px 0;
  padding: 0 10px;
}

.listNav .listNav_Main .listNav_body_hotel .part dl dd span {
  color: #339900;
}

.listNav .listNav_Main .listNav_body_hotel .part dl dd a:hover {
  color: #ff6600;
  cursor: pointer;
}

.listNav .listNav_Main .listNav_body_hotel .part .price p {
  width: 98px;
  height: 22px;
  font-size: 20px;
  color: #ff6600;
  margin-left: 5px;
  margin-top: 5px;
  font-weight: bolder;
}

.listNav .listNav_Main .listNav_body_hotel .part .price p:hover {
  cursor: pointer;
}

.listNav .listNav_Main .listNav_body_hotel .part .price p span {
  margin-left: 8px;
  color: #999999;
  font-size: 12px;
}

.listNav .listNav_Main .listNav_body_hotel .part .price button {
  width: 73px;
  height: 28px;
  margin-top: -4px;
  margin-left: 135px;
  font-size: 14px;
  background-color: #ff8800;
  border: 1px solid #ff8800;
  text-align: center;
  line-height: 28px;
  color: #fff;
}

.listNav .listNav_Main .listNav_body_hotel .part .price button:hover {
  cursor: pointer;
}

.content {
  width: 100%;
  flex: 3;
}

.content .contentMain {
  width: 1200px;
  margin: 0 auto;
}

.content .contentMain .content_head {
  width: 100%;
  display: flex;
  margin-top: 30px;
}

.content .contentMain .content_head h3 {
  width: 302px;
  color: #333333;
  font-size: 22px;
  font-weight: 100;
  line-height: 27px;
}

.content .contentMain .content_head ul {
  display: flex;
  width: 446px;
}

.content .contentMain .content_head ul li {
  color: #333333;
  font-size: 14px;
  margin-left: 16px;
  text-align: center;
  line-height: 32px;
}

.content .contentMain .content_head ul li:hover {
  cursor: pointer;
}

.content .contentMain .content_head ul .active {
  color: #ff6600;
}

.content .contentMain .content_head ul .active::after {
  content: ' ';
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #ff6600;
  margin-left: -29px;
  margin-bottom: -11px;
}

.content .contentMain .content_head a {
  color: #bbbbbb;
  font-size: 12px;
  margin-left: 415px;
  line-height: 36px;
}

.content .contentMain .content_head a:hover {
  cursor: pointer;
}

.content .contentMain .head_underline {
  width: 100%;
  height: 2px;
  background-color: #d4cbcb;
  margin-top: -6px;
}

.content .contentMain .major {
  display: flex;
}

.content .contentMain .major .channel {
  width: 285px;
  height: 527px;
  background-color: #f6f6f6;
}

.content .contentMain .major .channel .channelMain {
  width: 235px;
  margin: 0 auto;
}

.content .contentMain .major .channel .channelMain .channelTitle {
  display: flex;
  padding-top: 18px;
}

.content .contentMain .major .channel .channelMain .channelTitle .leftLine {
  width: 62px;
  height: 1px;
  background-color: #c5bdbd;
  margin-top: 10px;
  margin-right: 7px;
}

.content .contentMain .major .channel .channelMain .channelTitle h4 {
  color: #333333;
  font-size: 16px;
  font-weight: 100;
}

.content .contentMain .major .channel .channelMain .channelTitle .rightLine {
  width: 62px;
  height: 1px;
  background-color: #c5bdbd;
  margin-top: 10px;
  margin-left: 7px;
}

.content .contentMain .major .channel .channelMain ul {
  display: flex;
  flex-wrap: wrap;
}

.content .contentMain .major .channel .channelMain ul li {
  width: 107px;
  height: 28px;
  text-align: center;
  margin-left: 10px;
  line-height: 25px;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  border-radius: 15px;
  color: #666;
  margin-top: 14px;
}

.content .contentMain .major .channel .channelMain ul li a {
  font-size: 12px;
}

.content .contentMain .major .channel .channelMain ul li:hover {
  cursor: pointer;
  color: #fff;
  background-color: #ff8800;
}

.content .contentMain .major .channel .channelMain img {
  width: 285px;
  height: 105px;
  margin-top: 171px;
  margin-left: -25px;
}

.content .contentMain .major .proList {
  width: 920px;
  height: 502px;
  display: flex;
  flex-wrap: wrap;
}

.content .contentMain .major .proList dl {
  margin-top: 30px;
  margin-left: 15px;
  width: 285px;
  height: 236px;
}

.content .contentMain .major .proList dl:hover {
  transform: translateY(-10px);
  transition: all linear 0.5s;
}

.content .contentMain .major .proList dl dt img {
  width: 285px;
  height: 190px;
}

.content .contentMain .major .proList dl dd {
  position: relative;
}

.content .contentMain .major .proList dl dd a {
  width: 200px;
  height: 40px;
  color: #333333;
  font-size: 14px;
  display: inline-block;
}

.content .contentMain .major .proList dl dd a:hover {
  color: #ff6600;
  cursor: pointer;
}

.content .contentMain .major .proList dl dd span {
  color: #333333;
  font-size: 12px;
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 226px;
}

.content .contentMain .major .proList dl dd span dfn {
  color: #ff6600;
  font-size: 18px;
  margin-right: 4px;
}

.content .contentMain .cooperation {
  margin-top: 40px;
  width: 100%;
}

.content .contentMain .cooperation h3 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  color: #333;
}

.content .contentMain .cooperation img {
  margin-top: 26px;
  width: 110px;
  height: 40px;
  margin-left: 32px;
}

.footer {
  width: 100%;
  margin-top: 45px;
}

.footer .publicBox {
  width: 100%;
  height: 68px;
  background-color: #dd3377;
}

.footer .publicBox ul {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.footer .publicBox ul li {
  width: 300px;
  display: flex;
  margin-left: 15px;
}

.footer .publicBox ul li::after {
  content: ' ';
  display: inline-block;
  width: 1px;
  height: 50px;
  background-color: #f0eded;
  margin-left: 140px;
  margin-top: 10px;
}

.footer .publicBox ul li:first-child {
  margin-left: 0;
}

.footer .publicBox ul li .icon {
  margin-top: -6px;
  width: 47px;
  height: 50px;
  background: url(../images/header_icon.png);
  background-position: 162px 10px;
  line-height: 68px;
  margin-top: 5px;
}

.footer .publicBox ul li .intro {
  margin-left: 5px;
  margin-top: 14px;
  color: #fff;
  width: 124px;
}

.footer .publicBox ul li .intro strong {
  font-size: 18px;
  display: block;
  margin-left: -30px;
  font-weight: 100;
}

.footer .publicBox ul li .intro span {
  display: block;
  font-size: 12px;
  margin-left: 5px;
}

.footer .footerMain {
  width: 100%;
  padding-bottom: 20px;
  background: #2F3F4F;
  color: #fff;
}

.footer .footerMain .list {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.footer .footerMain .list ul {
  border-right: 1px dashed #0f0f0f;
  margin-top: 16px;
  padding-bottom: 10px;
  flex: 1;
  margin-left: 20px;
}

.footer .footerMain .list ul:first-child {
  margin-left: 0;
}

.footer .footerMain .list ul p {
  width: 136px;
  height: 20px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 23px;
}

.footer .footerMain .list ul:last-child {
  border-right: none;
}

.footer .footerMain .list ul:last-child p {
  width: 160px;
}

.footer .footerMain .list ul li {
  margin-top: 10px;
  font-size: 12px;
  color: #fff;
}

.footer .footerMain .list ul li:hover {
  cursor: pointer;
  color: #ff6600;
}

.footer .footerMain .list ul a {
  font-size: 12px;
}

.footer .footerMain .list ul a:hover {
  cursor: pointer;
  color: #ff6600;
}

.footer .footerMain .list ul span {
  line-height: 14px;
  font-size: 12px;
  opacity: 0.65;
  width: 100px;
  display: inline-block;
  color: #ffffff;
}

.footer .footerMain .list ul .extra a {
  color: #fff;
  font-size: 12px;
}

.footer .footerMain .list ul input {
  width: 242px;
  height: 30px;
  color: #666;
  padding-left: 25px;
  outline: #c5165f;
}

.footer .footerMain .list ul dl {
  display: flex;
  margin-top: 20px;
}

.footer .footerMain .list ul dl dt {
  width: 95px;
  height: 79px;
  background-image: url(../images/header_icon.png);
  background-position: -97px -54px;
}

.footer .footerMain .list ul dl dd {
  margin-top: 14px;
}

.footer .footerMain .list ul dl dd span {
  color: #ccc;
  font-size: 12px;
  display: inline-block;
  width: 120px;
}

.footer .footerMain .list ul .footerReport {
  font-size: 14px;
  color: #fff;
  margin-top: 6px;
}

.footer .footerMain .list .icon_wei {
  width: 20px;
  height: 20px;
  background-image: url(../images/header_icon.png);
  background-position: 0px -106px;
  position: absolute;
  top: 133px;
  left: 178px;
}

.footer .footerMain .list .icon_tel {
  width: 15px;
  height: 15px;
  background-image: url(../images/tel.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  position: absolute;
  top: 200px;
  left: 808px;
}

.footer .footerMain .list .icon_mail {
  width: 20px;
  height: 20px;
  background-image: url(../images/header_icon.png);
  background-position: -17px -126px;
  position: absolute;
  top: 238px;
  left: 804px;
}

.footer .footerMain .list .icon_mailBox {
  width: 20px;
  height: 20px;
  background-image: url(../images/header_icon.png);
  background-position: 0 -50px;
  position: absolute;
  top: 63px;
  left: 967px;
}

.footer .footerMain .list button {
  position: absolute;
  top: 60px;
  left: 1156px;
  width: 48px;
  height: 28px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: #e38;
  border: 1px solid #e38;
  font-weight: bold;
  font-size: 12px;
}

.footer .footerMain .list button a {
  color: #fff;
  font-size: 12px;
}

.footer .footerMain .list button:hover {
  cursor: pointer;
}

.footer .footerLicence {
  margin-top: 16px;
  width: 1200px;
  margin: 0 auto;
}

.footer .footerLicence p {
  margin-top: 16px;
  color: #666666;
  font-size: 12px;
  text-align: center;
}

.footer .footerLicence p span {
  display: inline-block;
  margin-top: 7px;
}

.footer .footerLicence .footerCredential {
  display: flex;
}

.footer .footerLicence .footerCredential p {
  background-image: url(../images/header_icon.png);
  margin-left: 8px;
}

.footer .footerLicence .footerCredential .Cred1 {
  width: 46px;
  height: 35px;
  background-position: -332px -52px;
}

.footer .footerLicence .footerCredential .Cred2 {
  width: 81px;
  height: 36px;
  background-position: -215px -91px;
}

.footer .footerLicence .footerCredential .Cred3 {
  width: 82px;
  height: 36px;
  background-position: -215px -91px;
}

.footer .footerLicence .footerCredential .Cred4 {
  width: 43px;
  height: 34px;
  background-position: -332px -92px;
}

.footer .footerLicence .footerCredential .Cred5 {
  width: 83px;
  height: 34px;
  background-position: -409px -91px;
}

.footer .footerLicence .footerCredential .Cred6 {
  width: 87px;
  height: 32px;
  background-position: -506px -91px;
}

.footer .footerLicence .footerCredential .Cred7 {
  width: 46px;
  height: 36px;
  background-position: -232px -130px;
}

.footer .footerLicence .footerCredential .Cred8 {
  width: 91px;
  height: 37px;
  background-position: -408px -129px;
}

.footer .footerLicence .bottom {
  width: 1200px;
  margin-top: 20px;
}

.footer .footerLicence .bottom dl {
  display: flex;
  font-size: 12px;
}

.footer .footerLicence .bottom dl dt {
  color: #ccc;
  margin-top: 7px;
}

.footer .footerLicence .bottom dl dd a {
  margin-left: 64px;
  color: #999999;
  display: inline-block;
  margin-top: 7px;
}

.footer .footerLicence .bottom dl dd a:hover {
  color: #ff6600;
  cursor: pointer;
}

.fixedRight {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 36px;
  background-color: #333;
  z-index: 101;
}

.fixedRight .top li {
  width: 36px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 14px;
  border-bottom: 1px solid #666;
  text-align: center;
  line-height: 17px;
}

.fixedRight .top li:nth-child(3):hover {
  background-color: #ff1268;
  cursor: pointer;
}

.fixedRight .top li:nth-child(4):hover {
  background-color: #ff1268;
  cursor: pointer;
}

.fixedRight .top li .flower {
  width: 30px;
  height: 30px;
  background-image: url(../images/header_icon.png);
  background-position: -69px -132px;
  margin-left: 5px;
}

.fixedRight .top li .phone {
  margin-left: 13px;
  margin-top: 3px;
  width: 12px;
  height: 20px;
  background-image: url(../images/header_icon.png);
  background-position: -101px -135px;
  margin-bottom: 3px;
}

.fixedRight .top li strong {
  margin-left: 2px;
  display: block;
  margin-bottom: 16px;
  margin-top: 7px;
}

.fixedRight .top li span {
  display: block;
  width: 14px;
  margin: 0 auto;
  line-height: 14px;
  margin-bottom: 10px;
}

.fixedRight .top li .link {
  width: 15px;
  height: 15px;
  margin: 0 0 8px 10px;
  background-image: url(../images/header_icon.png);
  background-repeat: no-repeat;
  background-position: -157px -106px;
  margin-left: 10px;
  margin-top: 8px;
  border-radius: 50%;
}

.fixedRight .top li .user {
  margin-left: 10px;
  width: 20px;
  height: 22px;
  background-image: url(../images/header_icon.png);
  background-position: -39px -33px;
  margin-bottom: 3px;
}

.fixedRight .top li .saleHidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 36px;
  width: 93px;
}

.fixedRight .top li .rabbitLink {
  visibility: hidden;
  position: absolute;
  top: 97px;
  right: 113px;
  width: 93px;
}

.fixedRight .top li .codeHidden {
  visibility: hidden;
  position: absolute;
  top: 226px;
  right: 34px;
  width: 93px;
}

.fixedRight .bottom {
  margin-top: 315px;
  text-align: center;
}

.fixedRight .bottom li {
  width: 36px;
  padding: 9px 0px;
  line-height: 10px;
}

.fixedRight .bottom li p {
  background-image: url(../images/header_icon.png);
}

.fixedRight .bottom li .service {
  background-position: -100px -380px;
  width: 22px;
  height: 19px;
  margin-left: 6px;
}

.fixedRight .bottom li span {
  margin-top: 2px;
  line-height: 14px;
  font-size: 12px;
  color: #fff;
}

.fixedRight .bottom li:hover {
  cursor: pointer;
  background-color: #ff1268;
}

.fixedRight .bottom li .wenjuan {
  background-position: -173px -136px;
  width: 19px;
  height: 22px;
  margin-left: 8px;
}

.fixedRight .bottom li .feedback {
  margin-left: 8px;
  background-position: -43px -134px;
  width: 20px;
  height: 20px;
}

.fixedRight .bottom li .topBack {
  margin-left: 8px;
  width: 17px;
  height: 7px;
  background-position: -22px -152px;
  margin-bottom: 5px;
}

.fixedRight .bottom li .close {
  width: 12px;
  height: 13px;
  margin-left: 11px;
  background-position: -151px -139px;
}
